.logo {
  font-family: $logo-font !important;
  font-size: 2rem !important;
}

.main-padding {
  padding: 60px;
}

.has-invalid {
  .invalid-feedback {
    display: block;
  }

  label {
    color: $red;
  }

  .form-control {
    border-color: $red;
  }
}
