- if notice
  .alert.alert-info.alert-dismissible{role: "alert"}
    %button.close{ aria: { label: "Close" }, data: { dismiss: "alert" }, type: "button"}
      %span{ aria: { hidden: "true" } } &#215;
    = notice
- if alert
  .alert.alert-warning.alert-dismissible{role: "alert"}
    %button.close{ aria: { label: "Close" }, data: { dismiss: "alert" }, type: "button"}
      %span{ aria: { hidden: "true" } } &#215;
    = alert
