%nav.navbar.navbar-light.bg-light.justify-content-between
  %span.navbar-brand.mb-0.h1.logo= link_to "Sapin Boîte", root_path
  %span= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "btn btn-danger"
